<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery
	galleryTitle="2015 AWRA AL Symposium"
	backgroundColor="rgba(0,0,0,1)"
	thumbFrameColor="rgba(255,255,255,.5)"
	indexPageName="2015-symposium.html"
>
  <image imageURL="../img/2015symposium/IMG_1357.jpg"
	thumbURL="../img/thumbs/IMG_1357.jpg"
	linkURL="../img/IMG_1357.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1357.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1358.jpg"
	thumbURL="../img/thumbs/IMG_1358.jpg"
	linkURL="../img/2015symposium/IMG_1358.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1358.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1359.jpg"
	thumbURL="../img/thumbs/IMG_1359.jpg"
	linkURL="../img/2015symposium/IMG_1359.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1359.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1360.jpg"
	thumbURL="../img/thumbs/IMG_1360.jpg"
	linkURL="../img/2015symposium/IMG_1360.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1360.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1362.jpg"
	thumbURL="../img/thumbs/IMG_1362.jpg"
	linkURL="../img/2015symposium/IMG_1362.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1362.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1363.jpg"
	thumbURL="../img/thumbs/IMG_1363.jpg"
	linkURL="../img/2015symposium/IMG_1363.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1363.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1364.jpg"
	thumbURL="../img/thumbs/IMG_1364.jpg"
	linkURL="../img/2015symposium/IMG_1364.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1364.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1365.jpg"
	thumbURL="../img/thumbs/IMG_1365.jpg"
	linkURL="../img/2015symposium/IMG_1365.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1365.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1367.jpg"
	thumbURL="../img/thumbs/IMG_1367.jpg"
	linkURL="../img/2015symposium/IMG_1367.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1367.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1370.jpg"
	thumbURL="../img/thumbs/IMG_1370.jpg"
	linkURL="../img/2015symposium/IMG_1370.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1370.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1371.jpg"
	thumbURL="../img/thumbs/IMG_1371.jpg"
	linkURL="../img/2015symposium/IMG_1371.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1371.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1375.jpg"
	thumbURL="../img/thumbs/IMG_1375.jpg"
	linkURL="../img/2015symposium/IMG_1375.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1375.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1377.jpg"
	thumbURL="../img/thumbs/IMG_1377.jpg"
	linkURL="../img/2015symposium/IMG_1377.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1377.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1379.jpg"
	thumbURL="../img/thumbs/IMG_1379.jpg"
	linkURL="../img/2015symposium/IMG_1379.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1379.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1383.jpg"
	thumbURL="../img/thumbs/IMG_1383.jpg"
	linkURL="../img/2015symposium/IMG_1383.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1383.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1384.jpg"
	thumbURL="../img/thumbs/IMG_1384.jpg"
	linkURL="../img/2015symposium/IMG_1384.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1384.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1387.jpg"
	thumbURL="../img/thumbs/IMG_1387.jpg"
	linkURL="../img/2015symposium/IMG_1387.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1387.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1388.jpg"
	thumbURL="../img/thumbs/IMG_1388.jpg"
	linkURL="../img/2015symposium/IMG_1388.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1388.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1389.jpg"
	thumbURL="../img/thumbs/IMG_1389.jpg"
	linkURL="../img/2015symposium/IMG_1389.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1389.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1390.jpg"
	thumbURL="../img/thumbs/IMG_1390.jpg"
	linkURL="../img/2015symposium/IMG_1390.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1390.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1391.jpg"
	thumbURL="../img/thumbs/IMG_1391.jpg"
	linkURL="../img/2015symposium/IMG_1391.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1391.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1392.jpg"
	thumbURL="../img/thumbs/IMG_1392.jpg"
	linkURL="../img/2015symposium/IMG_1392.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1392.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1394.jpg"
	thumbURL="../img/thumbs/IMG_1394.jpg"
	linkURL="../img/2015symposium/IMG_1394.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1394.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1395.jpg"
	thumbURL="../img/thumbs/IMG_1395.jpg"
	linkURL="../img/2015symposium/IMG_1395.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1395.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1398.jpg"
	thumbURL="../img/thumbs/IMG_1398.jpg"
	linkURL="../img/2015symposium/IMG_1398.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1398.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1399.jpg"
	thumbURL="../img/thumbs/IMG_1399.jpg"
	linkURL="../img/2015symposium/IMG_1399.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1399.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1400.jpg"
	thumbURL="../img/thumbs/IMG_1400.jpg"
	linkURL="../img/2015symposium/IMG_1400.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1400.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1401.jpg"
	thumbURL="../img/thumbs/IMG_1401.jpg"
	linkURL="../img/2015symposium/IMG_1401.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1401.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1404.jpg"
	thumbURL="../img/thumbs/IMG_1404.jpg"
	linkURL="../img/2015symposium/IMG_1404.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1404.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1405.jpg"
	thumbURL="../img/thumbs/IMG_1405.jpg"
	linkURL="../img/2015symposium/IMG_1405.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1405.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1407.jpg"
	thumbURL="../img/thumbs/IMG_1407.jpg"
	linkURL="../img/2015symposium/IMG_1407.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1407.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1408.jpg"
	thumbURL="../img/thumbs/IMG_1408.jpg"
	linkURL="../img/2015symposium/IMG_1408.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1408.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1409.jpg"
	thumbURL="../img/thumbs/IMG_1409.jpg"
	linkURL="../img/2015symposium/IMG_1409.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1409.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="../img/2015symposium/IMG_1411.jpg"
	thumbURL="../img/thumbs/IMG_1411.jpg"
	linkURL="../img/2015symposium/IMG_1411.jpg"
	linkTarget="_blank"
	sourcePath="..\img\2015symposium\IMG_1411.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>